%h1 About this website
%p This is a simple app which lets you create an account and keep track of your cryptocurrency.
%%ul
  %li App takes data from coinmarketcap.com API
  %li User management is done with devise gem
  %li Styling done with bootstrap 3.3.7
  %li Index pages and /home/about page uses HAML instead of HTML
